*.ipynb
__pycache__
*.h5
train_path/
valid_path/
test_path/
weights/
mias/
inbreast/
mini_ddsm/
all_cropped_datasets/
all_dataset_cropped/
evaluate/
prediction/
training/
test/
mias_cropped/
all_dataset_cropped_cloud.zip
all_dataset_cropped_cloud/
inbreast_cropped/